<a href="https://colab.research.google.com/github/Khoa22213131/AIO-2024_HOMEWORK/blob/feature%2Fmodule_02%2Fweek_01%2Fexercise/EX3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EX3: analyse table data

download and read the dataset

In [1]:
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /content/advertising.csv
100% 4.06k/4.06k [00:00<00:00, 12.1MB/s]

In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/advertising.csv')
data = df.to_numpy()

## EX15

In [8]:
sales = data[:, 3]
max_sale = np.max(sales)
max_idx = np.argmax(sales)

print(max_sale, max_idx)

27.0 175

## EX16

In [9]:
mean_tv = np.mean(data[:, 0])

print(mean_tv)

147.0425

## EX17

In [10]:
filtered = data[data[:, 3] >= 20]

print(len(filtered))

40

## EX18

In [11]:
filtered = data[data[:, 3] >= 15]

print(np.mean(filtered[:, 1]))

26.22293577981651

## EX19

In [12]:
mean_val = np.mean(data[:, 2])
filtered = data[data[:, 2] > mean_val]

print(np.sum(filtered[:, 3]))

1405.1

## EX20

In [14]:
A = np.mean(data[:, 3])

scores = np.full(len(data), 'Bad')

scores = np.where(data[:, 3] > A, 'Good', np.where(data[:, 3] == A, 'Average', scores))

scores[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U7')

# EX21

In [15]:
min = A
new = -1

for i, sale in enumerate(data[:, 3]):
  if sale - A < min:
    new = sale
    idx = i

A = new

scores = np.full(len(data), 'Bad')

scores = np.where(data[:, 3] > A, 'Good', np.where(data[:, 3] == A, 'Average', scores))

scores[7:10]

array(['Bad', 'Bad', 'Bad'], dtype='<U7')